<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Casting Network</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/base/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/static/base/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/static/base/plugins/themify-icons/themify-icons.css">

  <!-- Main Stylesheet -->
  <link href="/static/base/css/style.css" rel="stylesheet">
  <link href="/static/user/login&register/main.css" rel="stylesheet">
  <link href="/static/user/login&register/util.css" rel="stylesheet">
  <!--Favicon-->
  <link rel="shortcut icon" href="/static/base/images/favicon.ico" type="/static/base/image/x-icon">
  <link rel="icon" href="/static/base/images/favicon.ico" type="/static/base/image/x-icon">

</head>

<body>
  <!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->

<header class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html"><img class="img-fluid" src="/static/base/images/logo.png" alt="Casting Networks"></a>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navogation">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="{% url 'home' %}">Home</a>
          </li>
      <li class="nav-item">
      <li class="nav-item dropdown">
                          <a class="nav-link text-uppercase text-dark" href="javascript:;" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Performers</a>
                          <div class="dropdown-menu" aria-labelledby="nav-inner-primary_dropdown_1">
                            <a class="dropdown-item" href="/userlogin/">Login</a>
                            <a class="dropdown-item" href="/userregister/">Register</a>

                          </div>
                        </li>
                      </li>
        <li class="nav-item">
        <li class="nav-item dropdown">
                          <a class="nav-link text-uppercase text-dark" href="javascript:;" id="nav-inner-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creators</a>
                          <div class="dropdown-menu" aria-labelledby="nav-inner-primary_dropdown_1">
                            <a class="dropdown-item" href="/companylogin/">Login</a>
                            <a class="dropdown-item" href="/companyregister/">Register</a>

                          </div>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="category.html">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="contact.html">Contact</a>
        </li>
      </ul>
      <form class="form-inline position-relative ml-lg-4">
        <input class="form-control px-0 w-100" type="search" placeholder="Search">
        <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
        <a href="search.html" class="search-icon"><i class="ti-search text-dark"></i></a>
      </form>
    </div>
  </nav>
</header>
