  {% extends 'base/base.html' %}
{% block content %}

  <div class="slider display-table center-text">
    <h1 class="title display-table-cell"><b></b></h1>
  </div><!-- slider -->
  {% for i in tagname %}
  <h3 style="text-align: center ;">{{i.category}}</h3>
  {% endfor %}
  <section class="blog-area section">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class='container'>
              <div class='row'>
                {% for item in castcall %}
                {% if item.status == 'approve' %}
                  <div class="col-md-6 col-sm-12">

                    <div class="card h-100">

                      <div class="single-post post-style-1">

                        <div class="blog-image"><img src="{{item.castcall_image.url}}" alt="Blog Image"></div>

                        <a class="avatar" href="#"><img src="{{item.company_id.company_log.url}}" alt="Profile Image"></a>

                        <div class="blog-info">
                          <h3 class='title'><b>{{item.title}}</b></a></h5>
                          <h4 class="title"><a href='/castcallview/?id={{item.id}}'>{{item.role_description|truncatechars:150}}</a></h4>
                          <h4 class="title">Expire:&nbsp;{{item.expire}}</h4>
                          <ul class="post-footer">
                            <li><a href="#"><i class="ion-heart"></i>57</a></li>
                            <li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
                            <li><a href="#"><i class="ion-eye"></i>138</a></li>
                          </ul>

                        </div><!-- blog-info -->
                      </div><!-- single-post -->
                    </div><!-- card -->

                  </div><!-- col-md-6 col-sm-12 -->
                 <!--  {% else %}
                  <div class="col-md-6 col-sm-12">
                    <h3 style="color: red;">Empty</h3>
                  </div> -->
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
          </div><!-- row -->
        </div><!-- col-lg-8 col-md-12 -->

        <div class="col-lg-4 col-md-12 ">

          <div class="single-post info-area ">

            <div class="about-area">
              <h4 class="title"><b>ABOUT</b></h4>
              <p>Casting Networks, LLC is the leading provider of casting and audition management software to the casting industry. Casting directors and agents worldwide use Casting Networks to source and manage talent across film, television, digital and commercials projects facilitating over a million auditions per year. Headquartered in Los Angeles with offices in New York, London and Sydney.</p>
            </div>

            <!-- <div class="subscribe-area">

              <h4 class="title"><b>SUBSCRIBE</b></h4>
              <div class="input-area">
                <form>
                  <input class="email-input" type="text" placeholder="Enter your email">
                  <button class="submit-btn" type="submit"><i class="ion-ios-email-outline"></i></button>
                </form>
              </div>

            </div> --><!-- subscribe-area -->

            <!-- <div class="tag-area">
              {% if castcall %}
              <h4 class="title"><b>Category</b></h4>
              {% for i in tags %}
              <ul>
                <li><a href="/?id={{i.id}}">{{i.category}}</a></li>

              </ul>
              {% endfor %}
              {% endif %} -->
            </div><!-- subscribe-area -->

          </div><!-- info-area -->

        </div><!-- col-lg-4 col-md-12 -->

      </div><!-- row -->

    </div><!-- container -->
  </section><!-- section -->


{% endblock %}
