{% extends 'admin/base.html' %}
{% block content %}
<body class="fix-header">
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Requested Companys</h3>
<!--                 <p class="text-muted">Add class <code>.table</code></p>
 -->                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>Company name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Phone number</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in company_details %}

                            <tr>
                                <td>{{item.company_name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.phone_number}}</td>
                                <td><a href="/admincompanyview/?id={{item.id}}" class='btn btn btn-rounded btn-default btn-outline m-r-5'>approve</a></td>
                            </tr>

                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
{% endblock %}
